{% extends 'base.html.twig' %}

{% block title %}uneFichegsb{% endblock %}

{% block body %}
 <div class="row justify-content-md-center">
</div>
</br>
</br>
</br>


<h3>Les dépenses forfaitaires</h3>
<table 
class ="table table-hover" 
id ="table" data-toggle="table" 
data-search="true";
data-ajax="ajaxRequest"
{# data-url="https://raw.githubusercontent.com/wenzhixin/bootstrap-table-examples/master/json/data1.json">#}
    <thead>
        <tr>
          <th data-field="name">Nom</th>
          <th data-field="price">Prix</th>
          <th data-field="amount">Quantité</th>
        </tr>
    </thead>
  <tbody>

  
    {% for uneLigne in lesDepensesForfetaires %}
    <tr>
    <td>{{uneLigne.idTyper.libelle}}</td>
    <td>{{uneLigne.idTyper.montant}}</td>
    <td>{{uneLigne.qte}}</td>
    </tr>
    {% endfor %}
    
    
  </tbody>
</table>
{#
<script>



  function ajaxRequest(params) {
    var url = 'https://raw.githubusercontent.com/wenzhixin/bootstrap-table-examples/master/json/data1.json'
    $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }
</script>
#}
</br>
</br>
</br>

<h3>Les dépenses hors forfait</h3>
<table 
class ="table table-hover" 
id ="table" data-toggle="table" 
data-search="true";
{# data-ajax="ajaxRequest"
data-url="https://raw.githubusercontent.com/wenzhixin/bootstrap-table-examples/master/json/data1.json">#}
    <thead>
        <tr>
          <th data-field="name">Nom</th>
          <th data-field="price">Prix</th>
          <th data-field="amount">Date</th>
        </tr>
    </thead>
  <tbody>
  
    {% for uneLigne in lesDepensesNonForfetaires %}
    <tr>
    <td>{{uneLigne.libelle}}</td>
    <td>{{uneLigne.montant}}</td>
    <td>{{uneLigne.date|date("d/m/Y")}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>


<script>
var postData = function(e) {

    //stop the browser form submit
    e.preventDefault();

    //grab the form data
    var data = {
        email: $('#email-input').val(),
        referr: $('#referr').val()
    }
    $.post('subscribe.php',data,function(response) {
        //Not sure what your php script is returning 
        //json is good and it should indicate success or failure
        //so lets say you are returning a json object with a success flag
        if(response.success) {
            //use jquery to open the modal
            $('#myModal').modal('show');
        } else {
            //display error message to user
            alert("Error subscribing");
        }
    },'json');
}
</script>


{% endblock %}
